@import url(//db.onlinewebfonts.com/c/9d23cda2fd2a195a8467e0967debd4d3?family=Cera+Round+Pro);

* {
  box-sizing: border-box;
  font-family: "Cera Round Pro";
}
body {
  background-color: #e7e4e1;
  color: #393e45;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: scroll;
  margin: 0;
}
.login {
  background-color: #393e467d;
  padding: 20px 40px;
  border-radius: 10px;
}
.login h1 {
  text-align: center;
  margin-bottom: 30px;
}
.login a {
  text-decoration: none;
  color: black;
}
.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px white solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
}
.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: white;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 20px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: white;
  transform: translateY(-30px);
  background-color: transparent;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #aca9a4;
  font-family: inherit;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}
.text {
  text-align: center;
  margin-top: 30px;
}
