user nginx;
worker_processes auto;

error_log /var/log/nginx/error.log warn;
pid /var/run/nginx.pid;

events {
    worker_connections 1024;
}

http {
  upstream pyserv {
	server {{FRONT}}	max_fails=1 fail_timeout=20s;
	server {{HS}} 	backup;
  }

  server {
	listen 3000;
	listen [::]:3000;
	
	server_name localhost;
	location / {
		proxy_pass http://pyserv;
		#health_check;
	}
  }
}
